.card-list {
  background-color: #FEB2B2;
  border-radius: 4px;
  color: black;
  margin: 0 0.75rem;
  min-width: 15rem;
  padding: 0.5rem;
}

.card-list__content {
  background-color: hotpink;
}

.card-list__item {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 0.5rem 0;
  padding: 0.1rem;
}

.card-list__item p {
  margin: 0.5rem 0;
}

.card-list__add:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
