.board {
  padding: 1.5rem;
}

.board__add-list {
  background-color: #fc8181; /* 400 */
  border: none;
  color: #fff6f5; /* 100 */
  margin-left: 0.75rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.board__add-list:hover {
  cursor: pointer;
  background-color: #f56565; /* 500 */
}

.board__card-list {
  display: flex;
  flex-wrap: wrap;
}

.title-textbox {
  border-radius: 5px;
  border: 1px solid #fc8181;
  padding: 0.5rem;
}

.title-textbox:focus {
  border-radius: 5px;
  border: 1px solid #fc8181;
  outline: none;
  padding: 0.5rem;
}
